<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>IOT Home | Internet of Things | Freelance | Hire me - hello@joalex.dev</title>
</head>
<body>
  <h1>IOT - Internet of Things</h1>
  <h2>iot.joalex.dev</h2>
  <p>Coming soon...</p>

  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Timestamp</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
    {% for e in entries %}
      <tr>
        <td>{{ e.id }}</td>
        <td>{{ e.timestamp }}</td>
        <td>{{ e.data }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</body>
</html>